@{
    ViewData["Title"] = "Creditos";
}
<section class = "body">
<img src = "~/img/header.png">
<h1>Créditos</h1>
<nav>
<ul>
  <li><a href='@Url.Action("Index", "Home")'> Home</a></li>
  <li><a href='@Url.Action("Tutorial", "Home")'> Tutorial</a></li>
  <li><a href='@Url.Action("Juego", "Home")'> Inicio del juego</a></li>
  <li><a class = "active" href='@Url.Action("Creditos", "Home")'> Créditos</a></li>
</ul>
</nav>
<p> Bienvenidos a nuestra emocionante sala de escape, "Misión de Vega". Esta experiencia fue creada con pasión y dedicación por Paloma y Eugenia. Juntas, hemos diseñado cada desafío y enigma para ofrecerte una aventura única llena de misterio y diversión.</p>
<h2> Integrantes </h2>
<h3> Paloma Montenegro & Eugenia Lucero </h3>
<img src = "~/img/foto p&e.jpg">
</section>