@{
    ViewData["Title"] = "Habitacion 1";
}
<section class = "bodyH">

  <form method="post" action='@Url.Action("Habitacion2")'> 
  <input type="number">
  <input type= "submit" value = "Validar">
  </form>
</section>