@{
    ViewData["Title"] = "Habitacion 4";
}
<section class = "bodyH4">
<h1 class = "salaH"> SALA DEL ARTEFACTO </h1>
<p class = "pH"> Jugadores, ya se encuentran en la última sala: la sala del artefacto. 
    Para lograr salvar finalmente su galaxia, deberan desactivar el dispositivo que destruiría el agujero negro. 
    Para hacerlo, deberán decifrar una palabra a partir de una inscripción codificada según la siguiente tabla. 
    Deberan usarla e ingresarla en el formulario en cuestión. ¡Mucha suerte!</p>

<p class = "acertijo"> 5-20-21-16-26 
5-14
21-16-4-1-20
17-1-19-21-5-20
26
14-16
20-5
13-5
23-5
17-5-19-16
20-9-14
13-9
14-16
8-1-26
14-1-4-1 </p>

<img class = "tablaNum" src = "~/img/tablaNum.png">

<div class="buttons-wrapper">
        <button onclick="alert('Pista 1: Relaciona los números con las letras debajo correspondientes...')">Pista 1</button>
        <button onclick="alert('Pista 2: Se trata de una única palabra...')">Pista 2</button>
         <form method="post" action='@Url.Action("Habitacion")'> 
            <input type="text" name = Incognita required>
            <input type="hidden" name="Sala" value= "4">
            <input type="submit" value="Validar">
        </form>
    </div>
<p class = "pH"> @ViewBag.Error </p>
</section>