@{
    ViewData["Title"] = "Habitacion 4";
}
<section class = "bodyH4">
<h1 class = "salaH"> SALA DEL ARTEFACTO </h1>
<p class = "pH"> Jugadores, ya se encuentran en la última sala: la sala del artefacto. Para lograr salvar finalmente su galaxia, deberan desactivar el dispositivo, cuyo código, destruiría el agujero negro. Para lograrlo, deberán decifrar una palabra a partir de una inscripción en un idioma antiguo. Deberan usar la siguiente tabla de traducción para decifrar el código. ¡Mucha suerte!</p>

<p class = "acertijo"> אני בכל מקום, אי אפשר לראות אותי, אבל בלעדיי אין כלום. מה אני? </p>
<table>
  <tr>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>7</th>
    <th>8/th>
    <th>9</th>
    <th>10</th>
    <th>11</th>
    <th>12</th>
    <th>13</th>
    <th>14</th>
    <th>15</th>
    <th>16</th>
    <th>17</th>
    <th>18</th>
    <th>19</th>
    <th>20</th>
  </tr>
  <tr>
    <td>A</td>
    <td>B</td>
    <td>C</td>
    <th>D</th>
    <th>E</th>
    <th>F</th>
    <th>G</th>
    <th>H</th>
    <th>I</th>
    <th>J</th>
    <th>K</th>
    <th>L</th>
    <th>M</th>
    <th>N</th>
    <th>Ñ</th>
    <th>O</th>
    <th>P</th>
    <th>Q</th>
    <th>R</th>
    <th>S</th>
    <th>T</th>
    <th>U</th>
    <th>V</th>
    <th>W</th>
    <th>X</th>
    <th>Y</th>
    <th>Z</th>
  </tr>
</table>

<div class="buttons-wrapper">
        <button onclick="alert('Pista 1: Préstale atención a la forma de las letras de la inscripción...')">Pista 1</button>
        <button onclick="alert('Pista 2: Se trata de una única palabra...')">Pista 2</button>
         <form method="post" action='@Url.Action("Habitacion")'> 
            <input type="text" name = Incognita required>
            <input type="hidden" name="Sala" value= "4">
            <input type="submit" value="Validar">
        </form>
    </div>
<p class = "pH"> @ViewBag.Error </p>
</section>