@{
    ViewData["Title"] = "Habitacion 1";
}
<section class = "bodyH">

<h1 class = "salaH"> PUENTE DE LA NAVE </h1>
<p class = "pH"> Jugadores, se encuentran en el puente de la nave. Para pasar a la siguiente sala, deberán descifrar un código de números que el capitán puso para resguardar la seguridad de la nave.</p>
  <div class="content-wrapper">
        <div class="news-image">
            <a href="https://lasupernovavega.netlify.app/" target="_blank">
                <img src="~/img/NOTICIAS.png" alt="Noticias">
            </a>
        </div>
        <div class="newspaper-container">
            <a href="#image1" class="open-button">
                <img src="~/img/Tapa diario.png" alt="Tapa Diario">
            </a>
        </div>
    </div>

    <div id="image1" class="image-container">
        <a href="#" class="close-button">Cerrar</a>
        <img src="~/img/DIARIO CAPITÁN DAILY.png" alt="Imagen">
    </div>

    <div class="buttons-wrapper">
        <button onclick="alert('Pista 1: La contraseña la estableció el Capitán Daily a partir del día que nació su hijo...')">Pista 1</button>
        <button onclick="alert('Pista 2: Su hijo nació ... años después de que la supernova Vega explotara')">Pista 2</button>
        <form method="post" action='@Url.Action("Habitacion")'> 
            <input type="text" name = Incognita required>
            <input type="hidden" name="Sala" value= "1">
            <input type="submit" value="Validar">
        </form>
    </div>
    <p class = "pH"> @ViewBag.Error </p>
    
</section>