@{
    ViewData["Title"] = "Habitacion 1";
}
<section class = "bodyH">
<h1> PUENTE DE LA NAVE </h1>
<p> Jugadores, se encuentran en el puente de la nave. Para pasar a la siguiente sala, deberán descifrar un código de números que el capitán puso para resguardar la seguridad de la nave.</p>



  <form method="post" action='@Url.Action("Habitacion2")'> 
  <input type="number">
  <input type= "submit" value = "Validar">
  </form>
</section>