@{
    ViewData["Title"] = "Habitacion 1";
}
<section class = "bodyH">
<h1> PUENTE DE LA NAVE </h1>
<p> </p>



  <form method="post" action='@Url.Action("Habitacion2")'> 
  <input type="number">
  <input type= "submit" value = "Validar">
  </form>
</section>