@{
    ViewData["Title"] = "Habitacion 3";
}
<section class = "bodyH3">
<h1 class = "salaH"> HANGAR DE LA NAVE </h1>
<p class = "pH"> Jugadores, su progreso es notable. Han llegado a la anteúltima sala: el hangar de la nave. Aquí, deberán descubir las coordenadas del artefacto para salvar la galaxia del agujero negro. La leyenda dice que el creador del artefacto basó su localización en nuestro sistema solar. Se han estado investigando sus coordenadas por siglos, pero la investigaci+on ha quedado estancada. Confiamos en que ustedes podrán decisfrar la localización. </p>
<div> 
<h2> X: </h2>
<img src= "~/img/X-Photoroom.png">
</div>

<div>
<h2> Y: </h2>
<img src = "~/img/Y-Photoroom.png">
</div>

<div class="buttons-wrapper">
        <button onclick="alert('Pista 1: Préstale atención a los números atómicos de los elementos...')">Pista 1</button>
        <button onclick="alert('Pista 2: Cada uno de los números de la combinación es menor a 10...')">Pista 2</button>
         <form method="post" action='@Url.Action("Habitacion")'> 
            <input type="text" name = Incognita>
            <input type="hidden" name="Sala" value= "3">
            <input type="submit" value="Validar">
        </form>
    </div>
    <p class = "pH"> @ViewBag.Error </p>
</section>