@{
    ViewData["Title"] = "Tutorial";
}
<section class = "body">
<img src = "~/img/header.png">
<h1>Tutorial de juego: Misión Vega</h1>
<nav>
  <ul>
  <li><a href='@Url.Action("Index", "Home")'>Home</a></li>
  <li><a class = "active" href='@Url.Action("Tutorial", "Home")'>Tutorial</a></li>
  <li><a href='@Url.Action("Juego", "Home")'>Inicio del juego</a></li>
  <li><a href='@Url.Action("Creditos", "Home")'>Créditos</a></li>
  </ul>
</nav>

  <section class="container">
   <p>La temática del juego se centra en una misión espacial crucial: la tripulación de una nave debe salvar su galaxia de la amenaza de un agujero negro inminente. Este agujero negro, que se encuentra al borde de devorar todo a su alrededor, amenaza con destruir no solo la nave espacial, sino también todos los planetas y seres vivientes en esa región del universo. Para evitar esta catástrofe cósmica, los jugadores deben recuperar y activar un artefacto antiguo, un objeto de poder místico y científico que tiene la capacidad de desactivar el agujero negro. Este artefacto ha estado perdido por milenios y se dice que fue creado por una civilización avanzada que ya no existe. 
    Cada habitación de la nave espacial presenta desafíos únicos que los jugadores deben resolver para avanzar hacia su objetivo final. Estos desafíos varían desde acertijos lógicos hasta pruebas de destreza y conocimientos científicos, todo diseñado para poner a prueba las habilidades de la tripulación. En el puente de la nave, los jugadores comienzan su misión encontrando el diario del Capitán. Este diario es más que un simple registro de las actividades del Capitán; contiene pistas vitales y la clave para pasar a la siguiente habitación. Las páginas del diario revelan la historia del artefacto y ofrecen una guía sobre cómo superar los obstáculos que se encuentran en el camino.</p>
    <img class="item img" src="~/img/img b.png">
    <img class="item img" src="~/img/img a.png">
    <p>En el laboratorio de ciencias, los jugadores se enfrentan a un tablero con símbolos químicos y una nota que les proporciona pistas cruciales. Este tablero está lleno de ecuaciones complejas y combinaciones de elementos que deben descifrar. La nota, escrita en un código antiguo, parece contener la fórmula para un compuesto necesario para estabilizar la energía del artefacto. Los jugadores deben usar su conocimiento de química y sus habilidades de decodificación para interpretar correctamente los símbolos y encontrar la combinación correcta.</p>
    <p>En el Hangar de la Nave, la misión se vuelve aún más intensa. Los jugadores deben decodificar coordenadas utilizando su ingenio para encontrar la ubicación exacta del artefacto en la vasta extensión del espacio. Este desafío requiere un conocimiento profundo del sistema solar y la capacidad de trazar rutas precisas utilizando mapas estelares y tecnología de navegación avanzada. La presión aumenta mientras trabajan contra el reloj, sabiendo que cualquier error podría significar el fin de su misión y la destrucción de su galaxia.</p> 
    <img class="item img" src="~/img/img c.png">
    <img class="item img" src="~/img/img d.png">
    <p>Finalmente, en la Sala del Artefacto, los jugadores enfrentan la última y más crucial prueba. Para activar el artefacto, necesitan una contraseña que deberán adivinar resolviendo un acertijo. Este acertijo es el más complejo de todos, diseñado por la antigua civilización para proteger su creación. Los jugadores deben usar toda la información que han recopilado a lo largo de su viaje, combinando lógica, intuición y trabajo en equipo para descifrar la clave final. Solo entonces podrán activar el artefacto y salvar su galaxia de la destrucción inminente.</p>
  </section>


</section>