@{
    ViewData["Title"] = "Tutorial";
}
<section class = "body">
<img src = "~/img/header.png">
<h1>Tutorial de juego: Misión Vega</h1>
<nav>
  <ul>
  <li><a href='@Url.Action("Index", "Home")'>Home</a></li>
  <li><a href='@Url.Action("Tutorial", "Home")'>Tutorial</a></li>
  <li><a href='@Url.Action("Juego", "Home")'>Inicio del juego</a></li>
  <li><a href='@Url.Action("Creditos", "Home")'>Créditos</a></li>
  </ul>
</nav>

  <section class="container">
    <p>La temática del juego se centra en una misión espacial crucial: la tripulación de una nave debe salvar su galaxia de la amenaza de un agujero negro inminente. Para lograrlo, los jugadores deben recuperar y activar un artefacto antiguo que tiene el poder de desactivar el agujero negro. Cada habitación de la nave espacial presenta desafíos únicos que los jugadores deben resolver para avanzar hacia su objetivo final. En el puente de la nave, los jugadores comienzan encontrando el diario del Capitán, que contiene la clave para pasar a la siguiente habitación.</p>
    <img class="item img" src="~/img/img a.png">
    <img class="item img" src="~/img/img b.png">
    <p> En el laboratorio de ciencias, se enfrentan a un tablero con símbolos químicos y una nota que les proporciona pistas cruciales.</p>
    <img class="item img" src="~/img/img c.png">
    <p>En el Hangar de la Nave, los jugadores deben decodificar coordenadas utilizando su ingenio para encontrar la ubicación del artefacto. Deberán utilizar sus conocimientos sobre el sistema solar para conseguir la ubicación.</p>
    <p>Finalmente, en la Sala del Artefacto, enfrentan la última prueba: para activar el artefacto, necesitan una contraseña que deberán adivinar resolviendo un acertijo.</p>
    <img class="item img" src="~/img/img d.png">
  </section>
</section>