@{
    ViewData["Title"] = "Tutorial";
}

<section class = "body">
<img src = "img/header.png">
<h1>Tutorial de juego: Misión Vega</h1>
<nav>
<ul>
  <li><a href='@Url.Action("Index", "Home")'>Home</a></li>
  <li><a href='@Url.Action("Tutorial", "Home")'>Tutorial</a></li>
  <li><a href='@Url.Action("Juego", "Home")'>Inicio del juego</a></li>
  <li><a href='@Url.Action("Creditos", "Home")'>Créditos</a></li>
</ul>
</nav>
</section>