@{
    ViewData["Title"] = "Victoria";
}
<section class = "bodyVictoria">
<h1 class = "salaH"> HAN GANADO, ¡FELICITACIONES! </h1>
<h2> ¡Lo han hecho excelente! </h2>

<button><a href = '@Url.Action("Index", "Home")'> Volver al inicio </button> </a>
<section>