/*--midnight-blue: #1c1678ff;
--picton-blue: #5cb8e4ff;
--medium-slate-blue: #8758ffff;
--jordy-blue: #98bae7ff;
--aquamarine: #a3ffd6ff;

En el espacio profundo me encuentro,
sin luz ni forma visible soy.
Devoro todo sin dejar rastro,
mi atracción es un misterio sin fin.

¿Qué soy que no se puede ver,
pero mi presencia se puede sentir,
con mi gravedad extrema y voraz,
soy un enigma del universo sin fin?

*/
