/*--midnight-blue: #1c1678ff;
--picton-blue: #5cb8e4ff;
--medium-slate-blue: #8758ffff;
--jordy-blue: #98bae7ff;
--aquamarine: #a3ffd6ff;

En el espacio profundo me encuentro,
sin luz ni forma visible soy.
Devoro todo sin dejar rastro,
mi atracción es un misterio sin fin.

¿Qué soy que no se puede ver,
pero mi presencia se puede sentir,
con mi gravedad extrema y voraz,
soy un enigma del universo sin fin?*/

@font-face {
    font-family: 'Space Rave';
    src: url(fonts/Space\ Rave.ttf);
}

@font-face {
    font-family: 'Designer';
    src: url(fonts/Designer.otf);
}

@font-face {
    font-family: 'Creato Display';
    src: url(fonts/CreatoDisplay-ExtraBold.otf);
}

.body, footer{
    background-color: #98bae7ff;
    width: 100%;
    height: auto;
}
h1{
    font-family: 'Space Rave', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 110px;
    text-align: center;
    padding: 1%;
    color:  #1c1678ff !important;
}

h2{
    font-family: 'Designer', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    text-align: center;
    padding: 0.5%;
    color: #8758ffff !important;
}

img{
    width: 40%;
    height: auto;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.carousel{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
    padding: 1%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8758ffff;
    display: flex;
    justify-content: center;
    margin: 1% !important;
}
  
nav ul li {
    float: left;
    font-size: 100%;
    width: 16%;
} 
  
nav ul li a {
    display: block;
    font-family: 'Creato Display', 'Courier New', Courier, monospace;
    font-size: 100%;
    color: #1c1678ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active{
    background-color: #5cb8e4ff;
}
footer{
    text-align: center;
    font-family: 'Creato Display', 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 4%;
}
p{
    font-family: 'Creato Display', 'Courier New', Courier, monospace;   
    margin: 1% !important;
    padding: 1%;
    color: #1c1678ff;
    font-size: 20px;
    text-align: left;
}

h3{
    font-family: 'Creato Display', 'Courier New', Courier, monospace;   
    padding: auto;
    font-size: 60px;
    margin: 1% !important;
    font-style: italic;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto !important;
    text-align: center;
    row-gap: 0.5%;
}

.item {
    border: none;
    padding: 2%;
}

.img {
    width: 100%;
    height: auto;
}

input[type=submit]
{
  color: #1c1678ff;
  font-family: 'Creato Display', 'Courier New', Courier, monospace;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  padding: 1%;
  margin-top: 1%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #8758ffff ;
}

.bodyH {
    background-image: url(img\fondo.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}